@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f3a93;
  --color-primary-light: #eaf2f8;
  --color-accent-green: #27ae60;
  --color-accent-gold: #f1c40f;
  --color-accent-purple: #8e44ad;
  --color-neutral-light: #efebeb;
  --color-neutral-gray: #ecf0f1;
  --color-dark: #121212;
  --color-dark-light: #1c1c1c;
  --color-dark-accent-green: #2ecc71;
  --color-dark-accent-gold: #f39c12;
  --color-dark-accent-purple: #9b59b6;
  --color-dark-gray: #7f8c8d;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #121212;
    --color-primary-light: #1c1c1c;
    --color-accent-green: #2ecc71;
    --color-accent-gold: #f39c12;
    --color-accent-purple: #9b59b6;
    --color-neutral-light: #7f8c8d;
    --color-neutral-gray: #ecf0f1;
    --color-light-primary: #1f3a93;
    --color-light-primary-light: #eaf2f8;
    --color-light-accent-green: #27ae60;
    --color-light-accent-gold: #f1c40f;
    --color-light-accent-purple: #8e44ad;
    --color-light-neutral-light: #efebeb;
    --color-light-neutral-gray: #ecf0f1;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes shimmer {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -200% 0;
  }
}

@keyframes around {
  0% {
    top: -3%;
    right: -3%;
  }

  25% {
    bottom: -3%;
    right: -3%;
  }

  50% {
    left: -3%;
    bottom: -3%;
  }

  75% {
    top: -3%;
    left: -3%;
  }

  100% {
    top: -3%;
    right: -3%;
  }
}

.animate-shimmer {
  animation: shimmer 2s linear infinite;
}

.animate-around {
  animation: around 2s linear infinite;
}

.animate-shimmer-slow {
  animation: shimmer 12s linear infinite;
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(2000%);
    opacity: 0;
  }

  25% {
    transform: translateY(2000%);
    opacity: 0;
  }

  50% {
    transform: translateY(2000%);
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateY(-1000%);
    opacity: 0;
  }
}

.animate-float {
  animation-name: float;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  100% {
    transform: translate(calc(-33.3333% - 0.5rem));
  }
}